.resultsList {
}

.resultsList div {
  background-color: lightblue;
  margin-bottom: 12px;
  border-bottom-style: solid;
}

.resultsList p {
  margin: 10px;
  float: right;
}

.resultsList h3 {
  margin: 10px;
}

.resultsList img {
  width:100%;
  height: auto;
}

.PotentialMatchesContainer {
  overflow: scroll;
  width: 70%;
  height: 20%;
}

.PotentialMatchesContainer img{
  width: 20%;
  height: 20%;

}
